@model OrderLine

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Danke für deine Bestellung</h1>
        Deine Bestellnummer : @Model. <br /><br />
        Noch zu bezahlender Betrag : @Model.TotalPriceBrutto <br /><br />
        Bankinformationen :  Erste Bank<br />Kontonummer: 1236547898<br />
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Deine Bestellung wurde erfolgreich aufgegeben <br />
    </div>
</div> 